@import "/home/victor/.cache/wal/colors-waybar.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.85);
}
button {
    font-size: 32px;
    background-size: 25%;
    padding-bottom: 125px;
    margin: 10px;
    border-radius: 12px;
    background-color: @background;
    border: 2px solid @color4;
    color: @foreground;
}

button:focus, button:active, button:hover {
	background-color: @color4;
	outline-style: none;
}
